{% extends "base.html" %}
{% load dispatcher %}

{% block content %}

<table class="table table-condensed table-hover table-bordered table-striped">
    <tbody>
        <tr>
            <th class="span2">Dernier événement</th>
            <td class="span2">{{ last_event.received_on }}</td>
        </tr>
        <tr>
            <th class="span2">Nombre total d'événements</th>
            <td class="span2">{{ total_events }}</td>
        </tr>
        <tr>
            <th class="span2">{{ per_event_type.CALL_ME.0 }}</th>
            <td class="span2">{{ per_event_type.CALL_ME.1 }}</td>
        </tr>
        <tr>
            <th class="span2">{{ per_event_type.CHARGE_ME.0 }}</th>
            <td class="span2">{{ per_event_type.CHARGE_ME.1 }}</td>
        </tr>
        <tr>
            <th class="span2">{{ per_event_type.RING.0 }}</th>
            <td class="span2">{{ per_event_type.RING.1 }}</td>
        </tr>
        <tr>
            <th class="span2">{{ per_event_type.SMS_UNKNOWN.0 }}</th>
            <td class="span2">{{ per_event_type.SMS_UNKNOWN.1 }}</td>
        </tr>
        <tr>
            <th class="span2">{{ per_event_type.SMS_HOTLINE.0 }}</th>
            <td class="span2">{{ per_event_type.SMS_HOTLINE.1 }}</td>
        </tr>
        <tr>
            <th class="span2">{{ per_event_type.SMS_USHAHIDI.0 }}</th>
            <td class="span2">{{ per_event_type.SMS_USHAHIDI.1 }}</td>
        </tr>
        <tr>
            <th class="span2">{{ per_event_type.SMS_SPAM.0 }}</th>
            <td class="span2">{{ per_event_type.SMS_SPAM.1 }}</td>
        </tr>
        <tr>
            <th class="span2">Nombre d'événements non traiter</th>
            <td class="span2">{{ untreated_count }}</td>
        </tr>
        <tr>
            <th class="span2">Nombre d'événements à saisir</th>
            <td class="span2">{{ not_archived }}</td>
        </tr>
    </tbody>
    </table>

{% if untreated %}
<h2>Liste des événements non traités</h2>
    <table class="table table-condensed table-hover table-bordered table-striped">
    <thead>
    <tr>
    <th class="span2">Date &amp; Heure</th>
    <th class="span2">Numéro</th>
    <th class="span6">Type &amp; Message (SMS)</th>
    </tr>
    </thead>
    <tbody>
    {% for event in untreated %}
        <tr><td>{{ event.received_on }}</td>
            <td><strong>{{ event.identity|phone }}</strong></td>
            <td><strong>{{ event.event_type }}</strong>{% if event.sms_message %}<br />{{ event.sms_message|default_if_none:"" }}{% endif %}</td>
    {% endfor %}
    </tbody>
    </table>
{% endif %}

{% endblock %}
