{% load dispatcher %}
<table class="table table-condensed table-hover table-bordered table-striped table-info">
    <tbody>
        <tr>
            <th class="span8">Dernier appel</th>
            <td class="span4">{{ last_event.received_on }}</td>
        </tr>
        <tr>
            <th>Nombre d'appels non traités</th>
            <td>{{ untreated_count }}</td>
        </tr>
        <tr>
            <th>Nombre de rappels à saisir</th>
            <td>{{ not_archived }}</td>
        </tr>
        <tr>
            <th>Nombre total d'appels</th>
            <td class="total">{{ total_events }}</td>
        </tr>
        {{count_operators}}
        {% for operator, operatorcount in operators %}
        <tr>
            <th class="ident">Total {{ operator.capitalize }}</th>
            <td>{{ operatorcount }}</td>
        </tr>
        {% endfor %}
        <tr>
            <th class="ident">{{ per_event_type.CALL_ME.0 }}</th>
            <td>{{ per_event_type.CALL_ME.1 }}</td>
        </tr>
        <tr>
            <th class="ident">{{ per_event_type.CHARGE_ME.0 }}</th>
            <td>{{ per_event_type.CHARGE_ME.1 }}</td>
        </tr>
        <tr>
            <th class="ident">{{ per_event_type.RING.0 }}</th>
            <td>{{ per_event_type.RING.1 }}</td>
        </tr>
        <tr>
            <th class="ident">{{ per_event_type.SMS_UNKNOWN.0 }}</th>
            <td>{{ per_event_type.SMS_UNKNOWN.1 }}</td>
        </tr>
        <tr>
            <th class="ident">{{ per_event_type.SMS_HOTLINE.0 }}</th>
            <td>{{ per_event_type.SMS_HOTLINE.1 }}</td>
        </tr>
        <tr>
            <th class="ident">{{ per_event_type.SMS_USHAHIDI.0 }}</th>
            <td>{{ per_event_type.SMS_USHAHIDI.1 }}</td>
        </tr>
        <tr>
            <th class="ident">{{ per_event_type.SMS_SPAM.0 }}</th>
            <td>{{ per_event_type.SMS_SPAM.1 }}</td>
        </tr>
        <tr>
            <th>Nombre total de numéro unique</th>
            <td class="total">{{ total_unique_number }}</td>
        </tr>
        <tr>
            <th>Total par sexes (Homme/Femme/Inconnu)</th>
            <td>{{ sex_male }} H, {{sex_female}} F, {{sex_unknown}} Inconnus</td>
        </tr>
    </tbody>
    </table>