{% extends "base_export.html" %}
{% load dispatcher %}

{% block content %}

<div class="alert alert-info">
<p>Cette page présente les données de la <strong>Hotline SOS Démocratie</strong> à un instant <em>t</em>.</p>
<p>Elle devrait être mise à jour quotidiennement (vers 17h) pendant toute la durée du projet.</p>
<p>Les données brutes complète sont disponible sur <a href="http://opendata.ml">Open Data Mali</a>.</p>
</div>

{% include "status_infos_table.html" %}

{% include "status_region_table.html" %}

{% include "stats_per_age.html" %}

{% include "status_topics_table.html" %}

{% include "status_events_graph.html" %}

<div class="sponsors">
    <a href="http://jokkolabs.ml"><img src="static/img/jokkolabs.png" /></a>
    <a href="http://opendata.ml"><img src="static/img/opendata.png" /></a>
    <a href="http://usaid.gov"><img src="static/img/usaid.png" /></a>
    <a href="http://sosdemocratiemali.org"><img src="static/img/sosdemo.jpg" /></a>
</div>

{% endblock %}

{% block extra_js %}
    {% include "status_events_graph.js" with graph_data_url='graph_data.json' %}
{% endblock %}
