{% load dispatcher %}

{% if regions_located_responses %}
<h2>Répartition des rappels par région</h2>
    <table class="table table-condensed table-hover table-bordered table-striped table-info">
    <thead>
    <tr>
    <th class="span2">Région</th>
    <th class="span2">Taux (nombre)</th>
    </tr>
    </thead>
    <tbody>
    {% for region, count, percent in regions_located_responses %}
        <tr><td>{{ region }}</td>
            <td><strong>{{ percent|floatformat:2 }}% ({{ count }})</strong></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endif %}
