/*#id_topics {
	display: block;
	width: 100%;
	height: 10em;
}*/

.controls ul {
	margin: 0px 0px 10px 0px;
	list-style-type: none;
}

table tr .total{
font-weight: bold;

}

table tr .event_type{
     text-indent: 3em;
}
/*.controls ul li label:first-line {
	font-weight: bold;
}*/